<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>List of users</title>
</head>

<body>
<form action="/user" method="post">
    <input type="hidden" name="userId" th:value="${user.id}">
    <input type="text" name="username" th:value="${user.username}">
    <div th:each="role : ${roles}">
        <label>
            <input type="checkbox" th:name="${role}" th:checked="${#sets.contains(user.roles, role)}">
            [[${role}]]
        </label>
    </div>
    <th:block th:replace="common :: hiddenCsrf"/>
    <button type="submit">Save</button>
</form>
</body>

</html>
